<div class="container">

  <%= render 'timeline_header', end_user: @end_user %>

  <div class="row mt-2">

    <% @end_user_posts.each do |post| %>

      <% if post.end_user.hide_non_cancelled_users %>

        <div class="col-lg-4 col-md-6">

          <div class="card my-md-3 my-1 shadow">

            <% if post.image.attached? %>

              <%= link_to post_path(post.end_user.display_name, post.id), class: "text-decoration-none text-dark"  do %>

                <div class="card-body h-200 no-height card-body-upper-row">
                  <%= image_tag post.image, size: "171x130", class: "timeline-sm-img timeline-md-img" %>
                  <p class="card-title"> <%= truncate(post.body, length: 12) %></p>
                </div>

                <div class="card-body d-flex justify-content-around card-sm-padding">
                  <p class="card-text text-secondary"><%= post.created_at.strftime('%Y.%m.%d') %></p>
                  <p class="card-text"><i class="fas fa-comment text-secondary"></i><%= post.comments.count %> <i class="fas fa-solid fa-heart ml-0 text-danger"></i><%= post.likes.count %></p>
                </div>

              <% end %>

            <% else %>

              <%= link_to post_path(post.end_user.display_name, post.id), class: "text-decoration-none text-dark"  do %>

                <div class="card-body h-200 no-height card-body-upper-row">
                  <p class="card-title"> <%= truncate(post.body, length: 78) %></p>
                </div>

                <div class="card-body d-flex justify-content-around card-sm-padding">
                  <p class="card-text text-secondary"><%= post.created_at.strftime('%Y.%m.%d') %></p>
                  <p class="card-text"><i class="fas fa-comment text-secondary"></i><%= post.comments.count %> <i class="fas fa-solid fa-heart ml-0 text-danger"></i><%= post.likes.count %></p>
                </div>

              <% end %>

            <% end %>

          </div>

        </div>

      <% end %>

    <% end %>

  </div>

  <div class="row mt-5 d-flex justify-content-center">
    <%= paginate @end_user_posts %>
  </div>

</div>