<div class="container">
  <div class="header">
    <div class="row border-bottom">

      <div class="col-5">
        <div class="row">
          <% if @end_user.image.attached? %>
            <%= image_tag @end_user.image, size: "90x90" %>
          <% end %>

          <h3 class=" d-flex align-items-end mb-0 ml-3"><strong><%= @end_user.display_name %></strong></h3>
        </div>
      </div>

      <div class="col-3 ml-5">
        <nav class="nav nav-bar flex-column">

          <ul class="navbar-nav">

            <li class="nav-item">
              <%= link_to "フォロワー", follower_index_path(@end_user.display_name), class: "text-decoration-none text-dark" %>
              <%= @end_user.followers.count %>人
            </li>
            <li class="nav-item my-2">
              <%= link_to "フォロー", follow_index_path(@end_user.display_name), class: "text-decoration-none text-dark" %>
              <%= @end_user.followings.count %>人
            </li>
            <li class="nav-item">
              <%= link_to " いいね",like_index_path, class: "text-decoration-none text-dark" %>
              <%= @end_user.likes.count %> 件
            </li>
          </ul>

        </nav>

      </div>

      <div class="col-3  d-flex align-items-center">
        <% if current_end_user != @end_user %>
          <% if current_end_user.followings.include?(@end_user) %>
            <%= link_to "フォロー解除", unfollow_path(@end_user.display_name), method: :delete %>
          <% else %>
            <%= link_to "フォローする", following_path(@end_user.display_name), method: :post %>
          <% end %>
        <% end %>
      </div>

    </div>
  </div>

  <div class="row mt-5">

    <% @end_user.posts.each do |post| %>
      <% if post.end_user.is_deleted != true %>
      <div class="col-4 h75">
        <div class="card my-3 vh75">

        <% if post.image.attached? %>

            <%= image_tag post.image, size: "213x130", class: "p-1" %>

            <%= link_to post_path(post.end_user.display_name, post.id), class: "text-decoration-none text-dark"  do %>

              <div class="card-body">
                <p class="card-title"><%= post.body %></p>
              </div>
              <div class="card-body">
                <p class="card-text"><%= post.end_user.display_name %></p>
              </div>

            <% end %>

        <% else %>

            <%= link_to post_path(post.end_user.display_name, post.id), class: "text-decoration-none text-dark"  do %>
              <div class="card-body h-200 ">
                <p class="card-title"><%= post.body %></p>
              </div>
              <div class="card-body">
                <p class="card-text"><%= post.end_user.display_name %></p>
              </div>
            <% end %>

        <% end %>
        </div>
      </div>
      <% end %>
    <% end %>

  </div>

</div>