<h1>タイムライン</h1>
<% @comments.replies.each do |reply| %>
  <div class="row py-3 border-bottom">
    <div class="col-6">
      <% if reply.end_user.image.attached? %>
        <%= image_tag reply.end_user.image, size: "30x30", class: "rounded-circle" %>
      <% end %>
      <span><%= reply.end_user.display_name %></span>
      <small>返信先<%= reply.comment.end_user.display_name %></small>
    </div>

    <div class="col-9 offset-1">
      <%= link_to post_comment_reply_path(reply.comment.post_id, reply.comment.id, reply.id), class: "text-decoration-none text-dark" do %>
        <%= reply.body %>
      <% end %>
    </div>
  </div>
<% end %>

