<div class="row mt-md-5">

  <div class="col text-center">
    <% if current_end_user == @end_user %>
      <h4 class="font-1 mb-2">マイフォロワーリスト</h4>
    <% else %>
      <h4 class="font-1"><%= @end_user.display_name %></h4><p class="mb-3">さんのフォロワーリスト</p>
    <% end %>
  </div>

  <table class="table">
    
    <% @followers.each do |follower| %>
    
      <tr>
        
        <td class="padding-l">
          <%= link_to timeline_path(follower.display_name), class: "text-decoration-none text-dark padding-l" do %>
            <%= image_tag follower.get_image, size: "25x25" %>
            <%= follower.display_name %>
          <% end %>
        </td>
        
      </tr>
      
    <% end %>
    
  </table>

</div>

<div class="row mt-5 d-flex justify-content-center">
  <%= paginate @followers %>
</div>