<h2 class="text-center my-4 h2-sm-size">管理者ログイン</h2>

<%= form_with model: @admin, url: admin_session_path do |f| %>
  <div class="row mx-lg-3 mb-lg-3 px-lg-5 justify-content-around">
    <div class="col-form-label col-lg-4 col-lg-3" >
      <%= f.label "メールアドレス" %>
    </div>

    <div class="col-lg-7 col-xl-8">
      <%= f.email_field :email, autofocus: true, placeholder: "sample@example.com", autocomplete: "email", class: "form-control" %>
    </div>
  </div>

  <div class="row mx-lg-3 mb-lg-3 mt-md-3 px-lg-5 justify-content-around">
    <div class="col-form-label col-lg-4 col-lg-3" >
      <%= f.label "パスワード" %>
    </div>
    <div class="col-lg-7 col-xl-8">
      <%= f.password_field :password, autocomplete: "current-password", class: "form-control" %>
    </div>

    <div class="col-lg-6 my-4  my-lg-4 justify-content-center text-center">
      <%= f.submit "ログイン", class: "btn btn-primary w-75" %>
    </div>
  </div>
<% end %>

<%= render "admin/shared/links" %>
