<%= render 'search' %>

<table class="table">
  <% if @range == "投稿" %>

    <% @search_results.each do |search_result| %>
      <% if search_result.end_user.is_deleted != true %>
        <tr>
          <td>
            <% if search_result.end_user.image.attached? %>
              <%= image_tag search_result.end_user.image, size: "25x25" %>
            <% end %>

            <%= link_to timeline_path(search_result.end_user.display_name), class: "text-decoration-none text-dark" do %>
              <%= search_result.end_user.display_name %>
            <% end %>
          </td>
          <td>
            <%= link_to post_path(search_result.end_user.display_name, search_result.id), class: "text-decoration-none text-dark" do %>
              <%= search_result.body %>
            <% end %>
          </td>
        </tr>
      <% end %>
    <% end %>

  <% else %>

    <% @search_results.each do |search_result| %>
      <% if search_result.is_deleted != true && search_result.not_display_guest %>
        <tr>
          <td>
            <% if search_result.image.attached? %>
              <%= image_tag search_result.image, size: "25x25" %>
            <% end %>

            <%= link_to timeline_path(search_result.display_name), class: "text-decoration-none text-dark" do %>

              <%= search_result.display_name %>
            <% end %>
          </td>
        </tr>
      <% end %>
    <% end %>

  <% end %>
</table>