<div class="row my-2 justify-content-around ">
    <div class="col-5 col-md-5 btn btn-lg bg-info mb-sm-0 btn-small">
      <%= link_to root_path, class: "text-decoration-none text-light " do %>
        <strong>週間ランキング</strong> <i class="fas fa-solid fa-crown text-warning"></i>
      <% end %>
    </div>

    <div class="col-5 col-md-5 btn btn-lg bg-info mb-sm-0 btn-small">
      <%= link_to new_arrival_path, class: "text-decoration-none text-light" do %>
        <strong>新着投稿 \New/</strong>
      <% end %>
    </div>
</div>

  <div class="row mt-2">

    <% @posts.each do |post| %>
      <% if post.end_user.is_deleted != true %>
      <div class="col-md-4">
        <div class="card my-md-3 my-1">

          <% if post.image.attached? %>

            <%= link_to post_path(post.end_user.display_name, post.id), class: "text-decoration-none text-dark"  do %>

              <div class="card-body h-200 no-height card-body-upper-row">
                <p class="card-title">
                  <i class="fas fa-paper-plane"></i>
                  <%= image_tag post.end_user.get_image, size: "25x25" %>
                  <%= post.end_user.display_name %>
                </p>
                <p class="card-title"></p>

                <%= image_tag post.image, size: "171x130" %>

                <p class="card-title"> <%= truncate(post.body, length: 18) %></p>

              </div>
              <div class="card-body text-right card-sm-padding">
                <p class="card-text "><i class="fas fa-comment"></i> <%= post.comments.count %> <i class="fas fa-solid fa-heart ml-3"></i> <%= post.likes.count %></p>
              </div>

            <% end %>

        <% else %>

            <%= link_to post_path(post.end_user.display_name, post.id), class: "text-decoration-none text-dark"  do %>
              <div class="card-body h-200 no-height card-body-upper-row">
                <p class="card-title">
                  <i class="fas fa-paper-plane"></i>
                  <%= image_tag post.end_user.get_image, size: "25x25" %>
                  <%= truncate(post.end_user.display_name, length: 10) %>
                </p>
                <p class="card-title"> <%= truncate(post.body, length: 78) %></p>
              </div>
              <div class="card-body text-right card-sm-padding">
                <p class="card-text "><i class="fas fa-comment"></i> <%= post.comments.count %> <i class="fas fa-solid fa-heart ml-3"></i> <%= post.likes.count %></p>
              </div>
            <% end %>

        <% end %>
        </div>
      </div>
      <% end %>
    <% end %>

  </div>

  <div class="row mt-5 d-flex justify-content-center">
    <%= paginate @posts %>
  </div>