<div class="row my-2 justify-content-around ">
    <div class="col-5 btn btn-lg bg-info">
      <%= link_to root_path, class: "text-decoration-none text-light" do %>
        <strong>週間ランキング</strong> <i class="fas fa-solid fa-crown text-warning"></i>
      <% end %>
    </div>
    <div class="col-5 btn btn-lg bg-info">
      <%= link_to new_arrival_path, class: "text-decoration-none text-light" do %>
        <strong>新着投稿 \New/</strong>
      <% end %>
    </div>
  </div>

  <div class="row mt-2">

    <% @posts.each do |post| %>
      <% if post.end_user.is_deleted != true %>
      <div class="col-4 h75">
        <div class="card my-3 vh75">

          <% if post.image.attached? %>

            <%= link_to post_path(post.end_user.display_name, post.id), class: "text-decoration-none text-dark"  do %>

              <div class="card-body h-200">
                <p class="card-title"> <i class="fas fa-paper-plane"></i> <%= post.end_user.display_name %></p>
                <p class="card-title"></p>

                <%= image_tag post.image, size: "171x130" %>

                <p class="card-title"> <%= truncate(post.body, length: 20) %></p>

              </div>
              <div class="card-body text-right">
                <p class="card-text text-"><i class="fas fa-comment"></i> <%= post.comments.count %> <i class="fas fa-solid fa-heart ml-3"></i> <%= post.likes.count %></p>
              </div>

            <% end %>

        <% else %>

            <%= link_to post_path(post.end_user.display_name, post.id), class: "text-decoration-none text-dark"  do %>
              <div class="card-body h-200 ">
                <p class="card-title"> <i class="fas fa-paper-plane"></i> <%= truncate(post.end_user.display_name, length: 12) %></p>
                <p class="card-title"> <%= truncate(post.body, length: 78) %></p>
              </div>
              <div class="card-body text-right">
                <p class="card-text text-"><i class="fas fa-comment"></i> <%= post.comments.count %> <i class="fas fa-solid fa-heart ml-3"></i> <%= post.likes.count %></p>
              </div>
            <% end %>

        <% end %>
        </div>
      </div>
      <% end %>
    <% end %>

  </div>

  <div class="row mt-5 d-flex justify-content-center">
    <%= paginate @posts %>
  </div>