<div class="row mt-5 justify-content-center">
  <div class="col-5 pr-3">
    <h6 class="text-center my-1">週間ランキング</h6>
    <% @posts.each do |post| %>
      <% if post.end_user.is_deleted != true %>
        <div class="card my-3">

          <div class="card-header bg-light">
            <%= link_to  timeline_path(post.end_user.display_name), class: "text-decoration-none text-dark" do  %>
              <% if post.end_user.image.attached? %>
                <%= image_tag post.end_user.image, size: "40x40", class: "rounded-circle" %>
              <% end %>
              <%= post.end_user.display_name %>
            <% end %>
          </div>

          <% if post.image.attached? %>
            <%= image_tag post.image, class: "p-2" %>
          <% end %>

          <%= link_to post_path(post.end_user.display_name, post.id), class: "text-decoration-none text-dark"  do %>
            <div class="card-body">
              <p class="card-title"><%= post.body %></p>
            </div>
          <% end %>


          <div class="card-footer ">
            💭 <%= post.comments.count %>
            ♡ <%= post.likes.count %>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>

  <div class="col-5 border-left">
    <h6 class="text-center my-1">新着投稿</h6>
    <% @posts.each do |post| %>
      <% if post.end_user.is_deleted != true %>
        <div class="card my-3">

          <div class="card-header bg-light">
            <%= link_to  timeline_path(post.end_user.display_name), class: "text-decoration-none text-dark" do  %>
              <% if post.end_user.image.attached? %>
                <%= image_tag post.end_user.image, size: "40x40", class: "rounded-circle" %>
              <% end %>
              <%= post.end_user.display_name %>
            <% end %>
          </div>

          <% if post.image.attached? %>
            <%= image_tag post.image, class: "p-2" %>
          <% end %>

          <%= link_to post_path(post.end_user.display_name, post.id), class: "text-decoration-none text-dark"  do %>
            <div class="card-body">
              <p class="card-title"><%= post.body %></p>
            </div>
          <% end %>

          <div class="card-footer ">
            💭 <%= post.comments.count %>
            ♡ <%= post.likes.count %>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>

</div>

