<div class="container">
  <%= render 'likes_header', end_user: @end_user %>

  <div class="row mt-2">

    <% @likes.each do |like| %>

      <% if like.end_user.hide_non_cancelled_users %>

        <div class="col-lg-4 col-md-6">

          <div class="card my-md-3 my-1 shadow">

            <%= link_to reply_path(like.end_user.display_name, like.table.comment.post_id, like.table.comment_id, like.table.id), class: "text-decoration-none text-dark"  do %>

              <div class="card-body h-200 no-height card-body-upper-row">

                <p class="card-title font-075 overflow-hidden">
                  <i class="fas fa-solid fa-reply"></i>
                  <%= image_tag like.table.end_user.get_image, size: "25x25" %>
                  <%= like.table.end_user.display_name %>
                </p>

                <p class="card-title"> <%= truncate(like.table.body, length: 65) %></p>

              </div>

              <div class="card-body text-right card-body text-right card-sm-padding">
                <p class="card-text"> <%= like.table.created_at.strftime('%Y.%m.%d') %> <i class="fas fa-solid fa-heart ml-3 text-danger"></i> <%= like.table.likes.count %></p>
              </div>

            <% end %>

          </div>

        </div>

      <% end %>

    <% end %>

  </div>

  <div class="row mt-5 d-flex justify-content-center">
    <%= paginate @likes %>
  </div>

 </div>