<div class="row mt-5">
    <table class="table mx-5">
      <thead class="bg-secondary text-light">
        <tr>
          <th>ユーザーID</th>
          <th>ユーザー名</th>
          <th>ステータス</th>
        </tr>
      </thead>

      <% @suspended_end_users.each do |suspended_end_user| %>
        <tbody>
          <tr>
            <td>No.<%= suspended_end_user.id %></td>
            <td>
              <%= image_tag suspended_end_user.get_image, size: "25x25", class: "rounded-circle" %>
              <%= link_to admin_end_user_path(suspended_end_user.id), class: "text-decoration-none text-dark" do %>
                <%= suspended_end_user.display_name %>
              <% end %>
            </td>
            <% if suspended_end_user.is_deleted == true %>
              <td class="text-danger"><strong>停止済み</strong></td>
            <% end %>
          </tr>

        </tbody>
      <% end %>

    </table>



</div>

<div class="row mt-3 d-flex justify-content-center">
  <%= paginate @suspended_end_users %>
</div>
