<!DOCTYPE html>
<html>
  <head>
    <title>Pets</title>

    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

    <div class="container">

      <div class="row d-flex my-2">

        <div class="col-8 col-md-8">
          <%= yield %>
        </div>

        <div class="col-4 col-lg-4 border-left">

          <div class="row mx-1 mt-lg-4 mb-lg-3 mx-lg-4 d-flex justify-content-center border bg-dark">
            <%= link_to  root_path, class: 'text-decoration-none text-light' do %>
              <h3><strong class="text-success">P</strong><small>ets</small> <i class="fas fa-solid fa-paw text-warning"></i></h3>
            <% end %>
          </div>

          <nav class="nav nav-bar flex-column">

            <% if end_user_signed_in? %>

              <ul class="navbar-nav mr-4 mr-md-0 mx-lg-5 mt-lg-4">
                <li class="nav-item my-2 " >
                  <%= link_to  root_path, class: 'btn btn-outline-dark nav-link btn-small' do %>
                    投稿一覧 <i class="fas fa-solid fa-paw"></i>
                  <% end %>
                </li>

                <li class="nav-item my-md-2">
                  <%= link_to  search_path, class: 'btn btn-outline-dark nav-link btn-small' do %>
                    検索 <i class="fas fa-search"></i>
                  <% end %>
                </li>

                <li class="nav-item my-2">
                  <%= link_to "タイムライン", timeline_path, class: 'btn btn-outline-dark nav-link btn-small' %>
                </li>

                <li class="nav-item my-md-2">
                  <%= link_to  destroy_end_user_session_path, class: 'btn btn-outline-dark nav-link btn-small', method: :delete do %>
                    ログアウト  <i class="fas fa-solid fa-door-open"></i>
                  <% end %>
                </li>

                <li class="nav-item mt-md-5 mt-4">
                  <%= link_to  new_post_path, class: 'btn btn-outline-dark nav-link btn-small' do %>
                    投稿  <i class="fas fa-paper-plane"></i>
                  <% end %>
                </li>

                <li class="nav-item my-3 ellipsis">
                  <%= link_to  mypage_path, class: "text-decoration-none text-dark" do  %>
                    <% if current_end_user.get_image%>
                      <%= image_tag current_end_user.image, size: "40x40", class: "rounded img-30-30" %>
                    <% end %>
                    <strong><%= current_end_user.display_name %></strong>
                  <% end %>
                </li>

              </ul>

            <% elsif admin_signed_in? %>

              <ul class="navbar-nav">

                <li class="nav-item mt-2 my-md-2">
                  <%= link_to  root_path, class: 'btn btn-outline-dark nav-link btn-small' do %>
                    投稿一覧 <i class="fas fa-solid fa-paw"></i>
                  <% end %>
                </li>

                <li class="nav-item my-2">
                  <%= link_to  admin_search_path, class: 'btn btn-outline-dark nav-link btn-small' do %>
                    検索 <i class="fas fa-search"></i>
                  <% end %>
                </li>

                <li class="nav-item my-md-2">
                  <%= link_to admin_end_users_path, class: 'btn btn-outline-dark nav-link btn-small' do %>
                    停止ユーザー <i class="fas fa-user-times"></i>
                  <% end %>
                </li>

                <li class="nav-item my-2">
                  <%= link_to destroy_admin_session_path, class: 'btn btn-outline-dark nav-link btn-small', method: :delete do %>
                     ログアウト <i class="fas fa-solid fa-door-open"></i>
                  <% end %>
                </li>

              </ul>

            <% else %>

              <ul class="navbar-nav">

                <li class="nav-item mt-2 my-md-2">
                  <%= link_to  root_path, class: 'btn btn-outline-dark nav-link btn-small' do %>
                    投稿一覧 <i class="fas fa-solid fa-paw"></i>
                  <% end %>
                </li>

                <li class="nav-item my-2 ">
                  <%= link_to new_end_user_session_path, class: 'btn btn-outline-dark nav-link btn-small' do %>
                    ログイン <i class="fas fa-sign-out-alt"></i>
                  <% end %>
                </li>

                <li class="nav-item my-md-2">
                  <%= link_to new_end_user_registration_path, class: 'btn btn-outline-dark nav-link btn-small' do %>
                    新規登録 <i class="fas fa-solid fa-user-plus"></i>
                  <% end %>
                </li>

              </ul>

            <% end %>

          </nav>

        </div>

      </div>

    </div>

  </body>

</html>
